body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #87CEEB; 
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%; /* Tâm hình tròn cho hiện đại */
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    z-index: 20;
}

/* --- UI Hotbar --- */
#hotbar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 5px;
    z-index: 10;
}

.hotbar-slot {
    width: 50px;
    height: 50px;
    border: 3px solid #555;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotbar-slot.active {
    border-color: white; /* Viền trắng khi đang chọn */
    box-shadow: 0 0 10px white;
}

.slot-number {
    position: absolute;
    top: 2px;
    left: 4px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
}

.block-icon {
    width: 40px;
    height: 40px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

/* --- UI Kho Block Lớn --- */
#inventory-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    z-index: 100;
    text-align: center;
}

#inventory-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 cột */
    gap: 15px;
    margin-top: 20px;
}

.inv-item {
    width: 60px;
    height: 60px;
    border: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
    transition: 0.1s;
}

.inv-item:hover {
    border-color: yellow; /* Sáng lên khi chỉ chuột vào */
    transform: scale(1.1);
}